@model IEnumerable<Dashboard.Models.DTO.TicketDto>

@if (Model != null)
{
@*     <p>
        <a asp-action="Create">Create New</a>
    </p> *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th> *@
                <th>
@*                     @Html.DisplayNameFor(model => model.IsActive)
 *@                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientFormId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>

@*                         @Html.DisplayFor(modelItem => item.Title)
 *@                        @Html.ActionLink($"{item.Title}", "Edit", new { item.Id })
              
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td> *@
                    <td>
@*                         @Html.DisplayFor(modelItem => item.IsActive)
 *@                     <span class="badge rounded-pill badge-light-warning me-1">Pending</span>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientFormId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                         @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        *@

                        <button type="button" class="btn btn-outline-info waves-effect">@Html.ActionLink("Resolve", "Resolve", new {  id=item.Id })</button>
                        <button type="button" class="btn btn-outline-info waves-effect">@Html.ActionLink("Assign To Other Department", "Edit", new {  id=item.Id })</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <section id="multilingual-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">Multilingual</h4>
                    </div>
                    <div class="card-datatable">
                        <table class="dt-multilingual table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Salary</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section> *@

}
else
{
    <h1> Nothing Found </h1>
}

@* @section Scripts 
{
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
} *@