@model Dashboard.Models.DTO.SignInDto
@{
    //Layout = "_Layout";
    Layout = "_Layout";
}

<h4>SignInDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" id="emailAlret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RemaberMe" /> @Html.DisplayNameFor(model => model.RemaberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">

                <button type="button" class="btn btn-outline-info waves-effect">@Html.ActionLink("Forget Password", "ForgotPassword", "Oath")</button>
         
            </div>
            <div class="form-group">
                <input id="reSendEmail" onclick="Resend()" type="button" value="ReSend Email" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

      
        function Resend() 
        {
            let email = $("#email").val();
            
            if (email != null || email != "" || email !="undefined") 
            {
                $.ajax({
                    type: "POST",

                    url: '@Url.Action("ConfirmEmail", "Oath")',
                    dataType: "json",
                    data: {
                        emeil: email,
                        
                    },
                    sucess: function (result) {
                        console.log(result)
                    },
                    error: function (result) {
                        console.log(result)
                    }
                });
            }
            else 
            {
                $("email").val("Email Should not be empty");
            }

            // if ($("#monthlyBill").prop('checked')) 
            // {
            //     $("#bill").hide();
            //     $("#bill").val("");
            //     $("#addMonthlyBill").show();
            //     $("#updateOneTimeBill").hide();
            //     $.ajax({
            //         type: "POST",
            //         // url: "~/UserForm/updateIsBilledMonthly",
            //         url: '@Url.Action("updateIsBilledMonthly", "UserForm")',
            //         dataType: "json",
            //         data: { id : id,
            //             billMonthly : true
            //         },
            //         sucess: function (result) {
            //             console.log(result)
            //         },
            //         error: function (result) {
            //             console.log(result)
            //         }
            //     });
              

            // } else 
            // {
            //     $("#bill").show();
            //     $("#addMonthlyBill").hide();
            //     $("#updateOneTimeBill").show();
         
            //     $.ajax({
            //         type: "POST",
            //         // url: "~/UserForm/updateIsBilledMonthly",
            //         url: '@Url.Action("updateIsBilledMonthly", "UserForm")',
            //         dataType: "json",
            //         data: {
            //             id: id,
            //             billMonthly: false
            //         },
            //         sucess: function (result) {
            //             console.log(result)
            //         },
            //         error: function (result) {
            //             console.log(result)
            //         }
            //     });
            // }
        }
        
    </script>
}
