@model IEnumerable<Dashboard.DTO.ClientsDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddClient">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubDomain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDiscontinue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubDomain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDiscontinue)
            </td>
            <td>
@*                @Html.DisplayFor(modelItem => item.Logo)
*@                <img src="~/images/logo/@item.Logo" width="50" height="50">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "GetById", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
