@model IEnumerable<Dashboard.DTO.ClientFormDto>

@{
    ViewData["Title"] = "DeactiveClients";
}

<h1>DeactiveClients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        @*    <th>
                @Html.DisplayNameFor(model => model.BlackBaudApiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SubDomain)
            </th>
       @*     <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AproveDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DiscontinueDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.isAproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>*@
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
@*                @Html.DisplayFor(modelItem => item.Logo)
*@                <img src="~/images/formlogo/@item.Logo" width="50" height="50">
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.BlackBaudApiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SubDomain)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AproveDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DiscontinueDate)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.isAproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@

                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm dropdown-toggle hide-arrow py-0" data-bs-toggle="dropdown">
                            <i data-feather="more-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item"  asp-controller="UserForm" asp-action="edit" asp-route-id="@item.Id">
                                <i data-feather="edit-2" class="me-50"></i>
                                <span>Edit</span>
                            </a>
                            <a class="dropdown-item" asp-controller="UserForm" asp-action="details" asp-route-id="@item.Id">
                                <i data-feather="trash" class="me-50"></i>
                                <span>Details</span>
                            </a>
                            
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
