@model Dashboard.DTO.ClientFormDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if(Model == null)
{
    <h1> @ViewBag.NotFound </h1>
}
else
{
    <div>
        <h4>ClientFormDto</h4>
        <hr />
        <dl class="row">
            @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Id)
        </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Logo)
            </dt>
            <dd class="col-sm-10">
                @*            @Html.DisplayFor(model => model.Logo)
            *@            <img src="~/images/formlogo/@Model.Logo" width="50" height="50">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SubDomain)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SubDomain)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BlackBaudApiId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BlackBaudApiId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RequestDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RequestDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AproveDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AproveDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiscontinueDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiscontinueDate)
            </dd>
            @*        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.isAproved)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.isAproved)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.isActive)
        </dd>*@
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
}

